
*{
    margin: 0;
    padding: 0;
}


.navigation {
    font-family: (--font1);
  /* height: 74px; */
 /* background-color: red;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left{
  font-size: 30px;
  display: flex;
}

.nav-left ul li{
    list-style: none;
    margin: 0 10px;
    font-family: (--font2);
}
.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 20px;
}

.nav-right{

}

.content-left{
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.content-right{
   display: flex;
   align-items: center;
   justify-content: center;
}

.content-right img{
   height: 255px;
   width: 264px;
   border: 2px solid black;
   border-radius: 200px;
}

.content {
  height: 95px;
  /*background-color: rgb(180, 180, 224);*/
  display: flex;
  height: 100%;
  padding: 9px;
  position: relative;
}

.content::after{
  content: "";
  background-image: url('../images/read.jpg');
  opacity: 0.15;
  height: inherit;
  width: 100%;
  position: absolute;
  border-radius: 12px;
}

.content-left p{
    margin-top: 17px;
    font-family: fantasy;
    line-height: 30px;
}
.content-left h1{
    font-family: sans-serif;
}
.year-box{
 position: absolute; 
 /* background-color: red; */
 right: 30px;
 top: 100px;
 width: 234px;
 height: 230px;
}

.year-box div{
  margin: 12px 0px;
}

.home-articles{
  background-color: rgb(244, 233, 233,0.5);
  padding-top: 12px;
  margin-top: 23px;
  position: relative;

}
.home-article{
  display: flex;
  margin: 25px;

}
.home-article img{
  width: 300px;
}
.h-a-c{
  align-self: center;
  padding: 0px 30px;
  line-height: 30px;
}
.h-a-c a{
  text-decoration: none;
  /* color: rgba(62,139,167); */
  color: black;
}

.footer {
  height: 50px;
  background-color:rgb(62, 139, 167);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  margin-top: 35px;
}
.footer a{
  color: white;
}
